body {
  font: 14px sans-serif;
}

span.legend {
  display:inline-block;
  font-weight:bold;
  width:101px;
  text-align:center;
  vertical-align: middle;
}

span.legendImpact {
  display:inline-block;
  font-weight:bold;
  width:59px;
  text-align:center;
}

span.legendSmall {
  display:inline-block;
  font-weight:bold;
  width:65px;
  text-align:center;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 10px;
}

span.legendImpactSmall {
  display:inline-block;
  font-weight:bold;
  width:30px;
  text-align:center;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 10px;
}

div.legend {
  display:inline-block;
  font-weight:bold;
  width:101px;
  text-align:center;
  vertical-align: middle;
}

table.legend {
  border:1px black solid;
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

input[type=checkbox] {
  margin-top: 2px;
  float: right;
  padding: 15px;
}

table.borders, th.borders, td.borders
{
  border-right: thin solid #A9A9A9;
  border-left: thin solid #A9A9A9;
  border-top: thin solid #A9A9A9;
  border-bottom: thin solid #A9A9A9;
  text-align: center;
  vertical-align: middle;
}
/* th.borders
{
  /* background-color: #CCE5FF; */
  /*background-color: #E5FFCC; */
} */
td.selected
{
  color:red;
  font-weight:bold;
}
.outlined {
  border-right: 2px solid black;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.verticalText {
    writing-mode: vertical-lr;
     -ms-writing-mode: tb-rl;
     transform: rotate(270deg);
}

.navbar-nav > .nav-item{
    margin-left: 250px;
    margin-right: 25px;
}
